/* ================ global styles ================ */
:root {
  scroll-padding-top: 56px;

  /* fonts */
  --font-default: "Poppins", sans-serif;
  --font-heading: "Montserrat", sans-serif;

  /* Colors */
  --color-black: #343434;
  --hover-color: #1c1c1c;
  --bg-color: #f7f7f7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-default);
  background-color: var(--bg-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-black);
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
}
section {
  padding: 5rem 0;
  position: relative;
}
/* ================ Main Compound ================ */
/* main-title */
.main-title {
  margin-bottom: 80px;
  text-align: center;
}
.main-title h3 {
  font-weight: 900;
  font-size: 40px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.main-title h3::after {
  content: "";
  width: 100%;
  height: 30px;
  background-image: url("../images/dots.png");
  background-repeat: repeat;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: -1;
}
/* btn-dark */
.btn-dark {
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: transparent;
}
/* ================ Nav bar ================ */
nav .logo {
  float: left;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav .nav-link {
  position: relative;
}
nav .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 8px;
  left: 8px;
  transition: width 0.5s;
}
nav .nav-link.active::after {
  width: calc(100% - 16px);
}

/* ================ header ================ */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../images/bg.jpg");
  background-size: cover;
}
header h5 {
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}
header h1 {
  color: #fff;
  font-weight: 200;
}
/* typing words */
header h1 span::before {
  content: "";
  position: relative;
  font-weight: 500;
  animation: typing 10s infinite;
}
@keyframes typing {
  /* Larry Daniels */
  0% {
    content: "";
  }
  2% {
    content: "La";
  }
  4% {
    content: "Larr";
  }
  6% {
    content: "Larry";
  }
  8% {
    content: "Larry D";
  }
  10% {
    content: "Larry Dan";
  }
  12% {
    content: "Larry Danie";
  }
  14% {
    content: "Larry Daniels";
  }
  20% {
    content: "Larry Daniels";
  }
  22% {
    content: "Larry Danie";
  }
  24% {
    content: "Larry Dan";
  }
  26% {
    content: "Larry D";
  }
  28% {
    content: "Larr";
  }
  30% {
    content: "La";
  }
  32% {
    content: "";
  }
  /* Developer */
  34% {
    content: "D";
  }
  36% {
    content: "De";
  }
  38% {
    content: "Dev";
  }
  40% {
    content: "Deve";
  }
  42% {
    content: "Devel";
  }
  44% {
    content: "Develo";
  }
  46% {
    content: "Develop";
  }
  48% {
    content: "Develope";
  }
  50% {
    content: "Developer";
  }
  52% {
    content: "Developer";
  }
  54% {
    content: "Develope";
  }
  54% {
    content: "Develop";
  }
  56% {
    content: "Develo";
  }
  58% {
    content: "Devel";
  }
  60% {
    content: "Deve";
  }
  62% {
    content: "Dev";
  }
  64% {
    content: "De";
  }
  68% {
    content: "D";
  }
  70% {
    content: "";
  }
  /* Designer */
  72% {
    content: "De";
  }
  74% {
    content: "Desi";
  }
  76% {
    content: "Desig";
  }
  78% {
    content: "Design";
  }
  80% {
    content: "Designe";
  }
  82% {
    content: "Designer";
  }
  84% {
    content: "Designer";
  }
  86% {
    content: "Design";
  }
  88% {
    content: "Desig";
  }
  90% {
    content: "Desi";
  }
  92% {
    content: "Des";
  }
  94% {
    content: "De";
  }
  96% {
    content: "D";
  }
  98% {
    content: "";
  }
  100% {
    content: "";
  }
}
header .social a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================ About ================ */
#about figure::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  left: -30px;
  bottom: -30px;
  background-image: url("../images/dots.png");
  background-repeat: repeat;
  z-index: 1;
}
#about .content p:first-of-type {
  color: #999;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
/* skills-progress */
#about .skills-progress {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
  position: relative;
}
#about .skills-progress h6 {
  color: #fff;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
#about .skills-progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  background-color: var(--hover-color);
  transition: all 1s;
}
#about .skills-progress span::after {
  content: attr(data-value);
  position: absolute;
  right: 6px;
  top: 5px;
  color: #fff;
}

/* ================ services ================ */
#services .item {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}
#services .item i {
  font-size: 30px;
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: var(--bg-color);
  border-radius: 50%;
  transition: all 0.5s;
}
#services .item:hover i {
  background-color: var(--hover-color);
  color: #fff;
}
#services .item h6 {
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 18px;
}

/* ================ works (Portfolio) ================ */
/* nav */
#works .nav-pills .nav-link {
  --bs-nav-pills-link-active-bg: #fff;
  --bs-nav-pills-link-active-color: #000;
  --bs-nav-link-color: #000;
  --bs-nav-link-hover-color: #000;
  position: relative;
}
#works .nav-pills .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #111;
  position: absolute;
  left: 16px;
  bottom: 0px;
  transition: all 0.4s;
}
#works .nav-pills .nav-link.active::after {
  width: calc(100% - 16px * 2);
}
/* overlay and icon */
#works .overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
  transform: translateY(10px);
}
#works .overlay h6 {
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-transform: uppercase;
  transform: translateY(-15px);
  transition: 0.5s;
}
#works .overlay .btn-dark {
  width: 40px;
  height: 40px;
  line-height: 28px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#works .item:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}
#works .item:hover h6 {
  transform: translateY(0);
}

/* ================ client (Testimonials) ================ */
#client img {
  max-width: 110px;
  margin: auto;
  border-radius: 50%;
}
#client p {
  word-spacing: 2px;
}
#client h6 {
  font-size: 16px;
  font-weight: 600;
  margin: 30px 0 5px;
}
#client span {
  font-size: 12px;
  font-weight: 600;
  color: #888;
}
#client button {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #869791;
  border-radius: 50%;
  opacity: 0.5;
  border: none;
  transition: all 0.5s;
}
#client button.active {
  opacity: 1;
}

/* ================ Team ================ */
#team .item-img img {
  transition: all 0.4s ease 0s;
}
#team .item:hover img {
  transform: scale(1.2);
}
#team .item-text {
  padding: 25px;
  background-color: #5b5b5b;
  text-align: center;
}
/* overlay and icon */
#team .overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
  transform: rotateY(180deg) scale(0.5);
}
#team .overlay .social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#team .overlay .btn-dark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#team .item:hover .overlay {
  opacity: 1;
  transform: rotateY(0deg) scale(1);
}

/* ================ Footer ================ */
footer {
  background-color: var(--hover-color);
}
footer p {
  margin-bottom: 0.5rem;
}
footer .fa-circle {
  color: #313131;
}
